<table class="table">
  <thead>
    <tr>
      <td>Name</td>
      <td>Price</td>
      <td>Action (Login to perform action)</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items">
      <td>{{item.name}}</td>
      <td>${{item.price}}</td>
      <td>
        <button class="btn btn-default" (click)="addToCart()" [disabled]="!authService.isAuthenticated()">
          Add to shopping cart
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="authService.isAdmin()">
  <h3 class="col-md-12">Add a new Item</h3>
  <form class="form-inline" (submit)="addNewItem()">
    <div class="col-auto">
      <input type="text"
        class="form-control"
        placeholder="Name" 
        [(ngModel)]="newItem.name"
        name="name">
    </div>
    <div class="col-auto">
      <input type="number" 
        class="form-control" 
        placeholder="Price"
        [(ngModel)]="newItem.price"
        name="price">
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-2">Add new item</button>
    </div>
  </form>
</div>
